[2020-12-17 15:19] liamcain opened #1 "Use `obsidian-daily-note-interface` package"
Hi, I think you might benefit from using the `obsidian-daily-note-interface` npm package that I author. It reads the entire daily note config and sanitizes it so it might simplify your code a bit.

It also uses the configured Daily Note format which seems to be missing from your code.

Let me know if you have any questions!

[2020-12-24 09:19] lwb52 opened #2 "not operating…"
using latest insider ObsidianMD, the plugin does not place still-open daily note to-dos (from the note created by that other plugin) into the new, next day’s, daily note (again using that same plugin) at _any_ place in the new note, including the new note's template section as specified in the rollover plugin settings…
any suggestion?

[2020-12-25 07:48] vamfoom commented on #2
I have the same problem.

[2020-12-28 00:17] ConorMatthews commented on #2
Yep, got the same problem here as well. Was really enjoying using it as well :(

[2020-12-28 23:19] yeders opened #3 "No "to do" items / check boxes are coming over with the next daily note"
Hi there,

* I've installed / activated your plugin
* Added "## To do" to my daily note template
* selected 'To do' from your plugin settings
* yesterday, I had items on the list under the To Do header list, both directly under and under ### sublevel headings
* delete today's note if it was there
* clicked on today's note, creating a new one
* checkboxes/ todos didn't come across

Let me know what

[2020-12-31 05:48] ms3056 commented on #3
I'm also unable to get this to function.

[2021-01-03 15:49] daytang commented on #3
me too！

[2021-01-03 15:51] daytang opened #4 "why did not run？"
very useful funtion！

but it can't work！

hope tu update the plugin，thank

[2021-01-03 16:23] Webtron18 opened #5 "What is the Trigger for this Plugin"
I installed this plugin and attempted to use it, however, I cannot get it to 'trigger' the roll over.
I create a daily note for 'tomorrow' at the end of the day and would like to be able to 'trigger' the roll over to happen either when I create 'tomorrow' note or in the morning.
Is this something this can do?

[2021-01-03 22:26] OliverAndrews commented on #4
Obsidian API looks like it has had breaking change. Looking at source, this plugin is calling library methods wrong, probably a result of this. As it stands, this plugin _does not work_. I have a reimplementation of this [here](https://github.com/OliverAndrews/ObsidianIris).

[2021-01-03 23:06] daytang commented on #4
so nice of you!wish you success!发自我的华为手机-------- 原始邮件 --------发件人： Oliver Andrews <notifications@github.com>日期： 2021年1月4日周一 清晨6:26收件人： shichongrui/obsidian-rollover-daily-todos <obsidian-rollover-daily-todos@noreply.github.com>抄送： daytang <69802300@qq.com>, Author <author@noreply.github.com>主    题： Re: [shichongrui/obsidian-rollover-daily-todos] why did not run？ (#4)
Obsidian API looks like it has

[2021-01-04 00:23] OliverAndrews commented on #4
Obsidian API looks like it has had breaking change. Looking at source, this plugin is calling library methods wrong, probably a result of this. As it stands, this plugin does not work. I have a reimplementation of this [here](https://github.com/OliverAndrews/ObsidianIris).

[2021-01-04 00:29] OliverAndrews commented on #3
The API for Obsidian looks like it changed the way the filesystem works. Going through the code, this code will not run in new Obsidian API system. I have made update code [here](https://github.com/OliverAndrews/ObsidianIris). Feel free to use and let me know of bugs.

[2021-01-04 00:42] OliverAndrews commented on #2
The API for Obsidian looks like it changed the way the filesystem works. Going through the code, this code will not run in new Obsidian API system. I have made update code here with this as inspiration. Feel free to use and let me know of bugs.

[2021-01-04 08:47] lwb52 commented on #2
sorry to report it still does not work, under the latest insider version :^(

[2021-01-05 06:39] OliverAndrews commented on #2
@lwb52 I have made updates to the code and installation instructions. Original ones contained error. Note that I am talking about the Iris plugin, not this one here.

[2021-01-05 15:16] shichongrui commented on #4
Closing this issue in favor of #3 as it is the same issue.

[2021-01-05 15:16] #4 closed

[2021-01-05 15:17] shichongrui commented on #2
Closing in favor of #3 as it is the same issue.

[2021-01-05 15:17] #2 closed

[2021-01-09 16:23] #5 closed

[2021-01-19 02:29] yeders commented on #3
Hi @OliverAndrews  - any luck? I've tried the latest version and it doesn't seem to be behaving. What's your experience?

[2021-01-22 17:50] Liquidmantis opened #6 "Support exclude some checkboxes"
It would be great if there was a way to set RDT to either only look at items under the select heading, or to ignore a/some headings.  In my use case, I have a Todos heading where I add items, but I also have a Daily Tasks heading that is defined in my template with a set of things that I'd ideally get done every day.

I might not actually get them all done though, and right now RDT will add them t

[2021-01-22 17:58] Liquidmantis commented on #3
Huh, I'm Obsidian 0.10.8 and it works fine for me.  My heading is just `## TODOs` though, maybe the space in the words is causing parsing issues?

[2021-01-23 23:49] OliverAndrews commented on #3
@yeders If you can open issue on repository, I will try and see!

[2021-01-24 15:09] sford-square opened #7 "Add command to manually run"
Thanks for this great plugin! I'm requesting an augmentation that allows me to manually run the plugin. Sometimes, I'll create a daily note for a future day using the calendar plugin. When the day comes up, it will not inherit the todos from the previous day. A simple command that, when run from the current daily note, will pick off the unchecked todos from the previous day would help immensely!

[2021-01-25 08:21] anitaposch commented on #3
Hi,
I installed the plugin on Obsidian 0.10.8 (Windows 10) today. It does not rollover open todos for me too.

[2021-01-28 18:55] tgrosinger commented on #3
While this is not a fix for this plugin, I have added the ability to roll incomplete tasks over to the current daily note in the latest release of [Slated](https://github.com/tgrosinger/slated-obsidian). Hopefully that helps tide some people over until the author of this plugin can update 🙂

[2021-01-28 18:59] tgrosinger commented on #7
@sford-square It looks like this plugin has not been updated for a while, so I wanted to let you know that I have recently added similar functionality to [Slated](https://github.com/tgrosinger/slated-obsidian), and it can be run by a manual command. Check out the demo screencast in the Readme.

[2021-02-18 02:19] visualcurrent commented on #3
I've recently discovered and installed it on obsidian-0.11.0 and it doesn't do any roll-overs. I don't have any headings set in my template.
Nice idea though. Hope it gets fixed.

[2021-03-03 20:22] Fastpoopoo commented on #3
I think I have found the issue, this plugin uses the default Date() function, this means that the timezone isn't synced with your computer and if you are more than 5+ hours off from UTC, it will think that you are on the wrong timezone.

[2021-03-12 20:23] iwaldrop-gsn commented on #3
the date issue above could certainly cause an edge-case issue, but for me the issue was that I was using a section heading and the code expects a newline and my section heading was on the last line. the code should be fixed to not expect a newline in the heading, but rather insert it if not present.

at any rate, my solution was to simply add a line after my section heading in the template

[2021-03-15 01:52] OliverAndrews commented on #3
This is good discovery! I will take a look at the code and try to add in this change.

[2021-03-15 09:09] Conmy commented on #3
@iwaldrop-gsn I have tried this with a newling after the heading and it still does not function for me. I am also situated and have my PC set up in GMT (same as UTC) and still have this problem.

[2021-03-16 21:35] iwaldrop-gsn opened #8 "Preserve indentation"
I typically have several nested tasks, and when they're rolled over the hierarchy gets flattened, leading to a bit of manual effort.

On my end I just updated the regex used to find them, preserving whitespace:
[code]

[2021-03-16 21:45] iwaldrop-gsn commented on #3
@Conmy I'm sorry to hear that. I'm not sure if you're comfortable digging into the code, but I just did a bit of debugging on my end to find out where execution stopped. In my case, it was getting all the way through, but not finding the heading; this lead me to inspecting the `heading` value and noticing it included the newline character.

[2021-03-16 23:47] shichongrui commented on #8
Feel free to open a PR and I can get it in.

[2021-03-17 07:53] ianwaldrop commented on #8
https://github.com/shichongrui/obsidian-rollover-daily-todos/pull/9

[2021-03-18 12:19] #8 closed

[2021-04-07 14:57] RyanMalaspina commented on #3
Hi, I am also running into this issue. One thing I've noticed is if I don't restart Obsidian on the next day, todos don't rollover when I click the today's daily note button. If I do restart Obsidian and click today's daily note (and today's doesn't exist yet) the todos will rollover.

[2021-04-20 03:29] Callioper opened #10 "Hope can add an option to delete old checkboxes"
Just like cut instead of copy.

[2021-05-03 17:02] samxsmith commented on #3
I've opened a PR that resolves this issue, here:
https://github.com/shichongrui/obsidian-rollover-daily-todos/pull/11

[2021-05-12 21:24] TomLingham commented on #3
In my case this was caused by `Date.toISOString()` [returning the date UTC](https://github.com/shichongrui/obsidian-rollover-daily-todos/blob/master/index.js#L51), which prevents the note being created as I'm in Australia I create my daily note before the date roles over in UTC.

Pull request here https://github.com/shichongrui/obsidian-rollover-daily-todos/pull/12

[2021-05-13 14:52] shichongrui commented on #3
Sorry for the lack of response on this thread. My life has been extremely busy lately but I'd like to get these PRs merged. #11 has one approval on it, if one more person could test that PR and approve it I will merge it and get a release out. Likewise, once it is merged if we could get 2 people to test #12 I will get it merged and a release out. Thanks for your patience everyone, and sorry this h

[2021-05-16 15:53] owenvachell opened #13 "Counter for rolled over todo's"
Would be cool if there was an option to include a counter next to any todo items that rollover, so I can see how many days I've been putting a task off. For a bit of fun, an option where the counter is replaced by a frog emoji if a number of days (user configurable) is reached to remind me to 'eat that frog'.

For example:

## rolled over todo's

- [ ] task 1 (1)
- [ ] task 2 (5)
- [ ] task 3 (🐸)

[2021-05-26 22:27] shawnduggan opened #14 "Configurable Daily Notes Path"
I use Periodic Notes and not the core Daily Notes plugin. I don't want to have the Daily Notes plugin enabled. Can you allow the path to the Daily Notes folder to be manually configured?

[2021-05-31 03:40] ericaxu commented on #3
@shichongrui Seems like #11 is ready to go? 3 days ago there was another approval on it. Good luck with everything!

[2021-05-31 21:29] AlansCodeLog commented on #3
So I've had a bit of time to test the PRs. Did not work at all for me so I downloaded it and poked around and there's several problems.

1. For some reason my file created date is always a few ***MINUTES*** earlier than the current date. For #11 I had to increase `MAX_TIME_SINCE_CREATION` a LOT. I have no idea why that is but the problem seems to be on Obsidian's side. But given that fix only used

[2021-05-31 21:51] TomLingham commented on #3
Thanks @AlansCodeLog. I apologise for that error with #12. Snap name-change decision at the last second that I didn't test before pushing 😓  I've updated my branch.

To give you an explanation for what #12 is fixing, [this line in master](https://github.com/shichongrui/obsidian-rollover-daily-todos/blob/master/index.js#L51) is getting the datetime in ISO8601, taking only the date portion (discardi

[2021-06-01 13:19] #3 closed

[2021-06-01 13:25] shichongrui commented on #3
Both #11 and #12 are merged and a new version 1.0.2 has been released.

@AlansCodeLog I merged despite your findings only because it seems as though the PRs seemed to fix things for the most part and so I would welcome any additional PRs to further improve the plugin/harden the logic.

[2021-06-14 20:10] iroQuai commented on #13
haha never heard of this term before, 'eat that frog'. Google helped. nice metaphore!

I would really like something like this. Instead of numbers,  I saw someone using a ! per day. So "task 1 (!) is delayed one day, task 1 (!!!!!!!!) is delayed 8 days already.

[2021-06-14 20:15] iroQuai opened #15 "Tasks do not roll over when using mobile (android)"
This plugin is fantastic! Problem is that on mobile it doesn't work (only when I create a new daily note from windows).
I use android with obsidian 0.1.1

[2021-06-21 13:10] ONLYA opened #16 "Suggestion on roll-over todos to existed daily notes"
This is a great plugin and has made the beginning of a new day much easier.
I am currently using it with the Calendar plugin.
It could be better if the unchecked TODO's can be carried to an existing daily note because I will pre-create a daily note to set scheduled events.

[2021-06-21 13:36] ONLYA opened #17 "Plugin settings turn blank"
When I start Obsidian (I have created daily notes for today yesterday), the unchecked to-do's does not append to the heading, which is expected. When I open the settings to check the plugin settings, I find that **ONLY** this page turns totally blank.
![image](https://user-images.githubusercontent.com/36487580/122769714-b6e31a80-d29c-11eb-8cd3-ef64a5901847.png)

The workaround I have done:
- I hav

[2021-06-21 13:49] ONLYA commented on #17
Well, now I manually created a daily note for yesterday for testing. When I set it up and open today's note, there are no rolled to-do s from the last note. When I install the Calendar plugin and create a note for tomorrow, there are no rolled to-dos from today's one. I began to question how could this plugin work...

[2021-06-23 06:41] villers commented on #17
i have the same problem

[2021-06-25 04:50] Chris8031 commented on #17
I also have the same problem

[2021-06-27 10:37] jpmoo commented on #10
I second this. Either delete, or render them “inert” somehow (mark them complete or turn them into simple list items). This will allow the plug-in to play nicer with others that summarize or interact with todos (like the Tasks plugin).

[2021-07-12 07:35] arinazari commented on #17
I don't even see the plug-settings.

[2021-07-13 12:33] stouf commented on #17
Same thing for me 😞

[2021-07-13 15:15] stouf commented on #17
https://github.com/shichongrui/obsidian-rollover-daily-todos/pull/18

I tried these changes against my vault and they seem to work. I can now see the plugin settings and the plugin behaves as I expect it to.

[2021-07-13 23:47] LucBetbeder opened #19 "No rollover or settings after new vault for mobile"
The plugin was working fine (on MacOs Desktop)
Set up new Desktop vault per iCloud sync instructions for iOS Mobile App.
Copied old files to new vault.  (Path change)
Re-added plugins and now no rollover function (Desktop and iOS) and settings not visible.

[2021-07-14 17:58] wenliang commented on #17
Thanks @stouf . Hope this will be merged soon.

[2021-07-14 20:53] fglazer commented on #17
I don't see plug-in settings either, and new daily note is not capturing the unfinished tasks.

[2021-07-14 23:24] stouf commented on #17
If I understood correctly, a recent change in the API of Obsidian breaks the plugin when it starts up. That's you can't even see the settings entry. That's actually where it crashes, preventing the rest from running 😅

[2021-07-19 06:44] lennart-h commented on #19
Having the same issue under Ubuntu but never got it working in the first place.

[2021-07-24 05:19] stouf commented on #17
@shichongrui Any news/ideas on this? 😅

[2021-08-06 19:20] acorazza commented on #19
It doesn't work for me at all (Windows)

[2021-08-11 13:32] bnmnetp commented on #19
This is what I see in the developer console:

[code]

[2021-08-13 06:35] jnoebauer commented on #19
Same here. It doesn't work for me at Windows. The settings are not visible.

[2021-08-15 18:39] ackstorm23 commented on #19
Same here. Doesn't work at all.

[2021-08-20 20:19] Narbulus commented on #19
I put out a fix for this in [this PR](https://github.com/shichongrui/obsidian-rollover-daily-todos/pull/21).

[2021-08-21 00:00] shichongrui commented on #19
Released as version 1.0.3

[2021-08-21 00:00] #19 closed

[2021-08-21 00:01] shichongrui opened #22 "Looking for maintainers"
I just don't have enough time to keep up with the rapid changes in obsidian and obviously, this is negatively affecting many users of the plugin so if there is someone who would like to contribute. I will make them a contributor.

[2021-08-21 00:02] shichongrui commented on #17
Is this still a problem in version 1.0.3?

[2021-08-21 00:18] stouf commented on #17
@shichongrui I just tried and confirmed the version 1.0.3 of the plugin works 👍

https://github.com/shichongrui/obsidian-rollover-daily-todos/pull/21 apparently successfully fixed it 🎉 I would be careful with [this](https://github.com/shichongrui/obsidian-rollover-daily-todos/pull/21#issuecomment-903017149) however 😅

[2021-08-27 07:40] danielbcorreia opened #24 "getISOFormattedDate doesn't work with custom Daily notes date format"
The core Daily notes plugin supports setting a custom date format, in my case that would be `YYYY-MM-DD dddd` (it includes the day of the week).

This plugin however checks the filename by using the getISOFormattedDate which would always return `YYYY-MM-DD`:
https://github.com/shichongrui/obsidian-rollover-daily-todos/blob/master/index.js#L54

The solution can be to read the Daily notes plugin set

[2021-08-27 16:37] konhi opened #26 "[github]: missing topics"
This repository doesn't have topics set such as `obsidian`, `obsidian-md`, `obsidian-plugin` which leads to less reach. Please add these topics, so Obsidian users can easily find the repository for this great plugin! 😊

[2021-08-29 13:31] KjellConnelly commented on #14
I'll write a pull request for this later today

[2021-08-29 18:24] KjellConnelly commented on #22
Hey @shichongrui, I'll be making a pull request a bit later today which will fix some issues, add new options, simplify the code, and add a readme. Can you add me as a contributor?

[2021-08-30 13:22] shichongrui commented on #22
@KjellConnelly Thank you. Sent an invite.

[2021-09-01 15:14] KjellConnelly commented on #24
Fixed in new release `1.0.5`

[2021-09-01 15:14] #24 closed

[2021-09-01 15:15] KjellConnelly commented on #22
Feel free to reopen if you'd like more maintainers :) Just trying to get rid of open issues/pull requests.

[2021-09-01 15:15] #22 closed

[2021-09-01 15:18] KjellConnelly commented on #17
Hopefully their API doesn't change, or it'll need to be fixed again :)

[2021-09-01 15:18] KjellConnelly commented on #17
Hopefully their API doesn't change, or it'll need to be fixed again :)

[2021-09-01 15:18] #17 closed

[2021-09-01 15:32] KjellConnelly commented on #16
Hi @ONLYA, I just added version `1.0.5` which has a new command (from command palette) which can run the rollover command on demand. Todos will only be rolled over to the current daily note from the previous note that exists before this day. For example:

#### Example

##### Setup
- You have daily notes every day without exception in the format `YYYY-MM-DD`
- On a regular basis, you create a daily

[2021-09-01 15:32] #16 closed

[2021-09-01 15:35] KjellConnelly commented on #15
Hi @iroQuai, I *may* have fixed this issue. It didn't work on iPhone for me until I updated the code. Try it again with version `1.0.5`. I assume it'll work now, but please reopen this issue if it doesn't.

[2021-09-01 15:35] #15 closed

[2021-09-01 15:37] KjellConnelly commented on #14
@shawnduggan I just released version `1.0.5` which now works with the `Daily Notes plugin` as well as the `Periodic Notes plugin`. Path to Daily Notes still can't be manually configured, but as long as you are using Periodic Notes, and not trying to roll your own solution, things are all good now :)

[2021-09-01 15:37] #14 closed

[2021-09-01 15:42] KjellConnelly commented on #13
That's a pretty good idea. I might try to implement this at some point. I think it's very doable, but the syntax would have to be a bit unusual, as to not conflict with people making lists that have typical syntax... something like
- [ ] task 1 `skipped:1x`
- [ ] task 2 `skipped:5x`

That way, the syntax is fairly unique, plus, it is easy to read in the editor, as well as preview. I'll leave it th

[2021-09-01 15:45] KjellConnelly commented on #10
Added this feature in release `1.0.5`. It's now an option in the plugin Settings. Since the code is somewhat new, I also added a `Undo Rollover` command. That way, if you toggle on the delete option, and for whatever reason, you don't like the result, you will have 2 mins to run the Undo command. Let me know if after trying this, there are any issues with it.

[2021-09-01 15:45] #10 closed

[2021-09-01 15:51] KjellConnelly commented on #7
Hi @sford-square, I just added this feature in release `1.0.5`. It only rolls todos to the **Today Daily Note** (based off of your device's date), from the note chronologically prior to the **Today Daily Note**.

Ie: Today is Wednesday, and you have a note from yesterday with todos. Anywhere you are in Obsidian will move todos from Tuesday's to today's daily note.

Likewise, if you have daily note

[2021-09-01 15:51] #7 closed

[2021-09-01 16:04] KjellConnelly commented on #6
Hi @Liquidmantis, I am thinking about implementing something like this. It looks like a lot of code though, so I probably won't get around to it soon. Feel free to reopen this if you or someone else wants to discuss implementation or making a pull request themself. But here's pretty much what I want, where input is the previous daily note, and output is today's daily note:

## How it currently wor

[2021-09-01 16:04] #6 closed

[2021-09-01 17:45] KjellConnelly commented on #1
@liamcain Hey hey! Thanks for writing that library :) I added it, and it's very helpful 😄

[2021-09-01 17:45] #1 closed

[2021-09-05 19:53] usizu opened #29 "Blank Settings - Solution: remove spaces in template path"
I'd like to use the "Delete todos from previous day" feature, and if i understood correctly it should be accessible from the settings screen from Obsidian preferences Plugin Options, however that screen is totally blank for me when I select the plugin. There are no plugin settings loading for me for this plugin it seems. Is this normal?

![image](https://user-images.githubusercontent.com/32371934/

[2021-09-05 22:40] KjellConnelly commented on #29
Seems like a bug. Could you open the developer console and take a peek for me? It's showing for me.

[2021-09-06 03:51] usizu commented on #29
This gets printed in console when i click on the plugin settings:

[code]

[2021-09-06 04:18] KjellConnelly commented on #29
Hmmm... do you have the `Daily Notes` plugin, or the `Periodic Notes` plugin installed and enabled? If so, do you also have a template set for them? There should probably be some sort of check for this, but that's my best guess for now.

[2021-09-06 04:22] usizu commented on #29
I use the Periodic notes plugin.. there is only a template set for Daily, not for the weekly or monthly. I just tried giving them a template in the Periodic notes settings but same behaviour still

[2021-09-06 04:32] KjellConnelly commented on #29
Can you take a screenshot of your periodic or daily note settings? Here's a screenshot of what mine look like, and a screenshot of what the Rollover Plugin should look like

<img width="1904" alt="Screen Shot 2021-09-05 at 9 29 51 PM" src="https://user-images.githubusercontent.com/13230597/132160912-88d99d02-fe22-4e12-971e-f8d3843f6731.png">

<img width="1904" alt="Screen Shot 2021-09-05 at 9 29 5

[2021-09-06 06:49] usizu commented on #29
![image](https://user-images.githubusercontent.com/32371934/132172439-aed5b3a0-18c2-43b5-ace8-a61ca2a061ac.png)

I tried toggling off weekly and monthly but no effect either.

And the rollover settings just to confirm:

![image](https://user-images.githubusercontent.com/32371934/132172539-b78a38e5-6716-4b06-891a-0cde1cb06503.png)

[2021-09-06 06:54] usizu commented on #29
Ok so I turned off the Periodic notes plugin and the Rollover settings are showing now. I tested and the "Delete todos from previous day" setting is now working as expected.

However there is no template to select for Template headings, even though I do have a Daily Note Template in the Periodic plugin:
![image](https://user-images.githubusercontent.com/32371934/132173230-ee74a211-a684-4c4c-a315-b

[2021-09-06 14:09] KjellConnelly commented on #29
I'm pretty sure I figured out the problem for you. It's because the plugin can't handle spaces in your template name/path. Try renaming with camelCase or template-dashes or whatever. Should work then.

Just tested it a bit and for some reason, one of the public obsidian api functions cannot handle files with spaces. I was able to escape the spaces (works on my Mac at least): `path = path.replace('

[2021-09-06 14:18] usizu commented on #29
i removed the space and that did the trick. thanks for the help. i guess thats good enough of a solution on my end

[2021-09-06 15:25] KjellConnelly commented on #29
I just tried messing around with some things and I got the bug happening, but something I did made it go away without actually changing any code. I'm guessing something to do with actually changing the path to the template. I turned off `Periodic Notes`, and turned on `Daily Notes`, and fiddles with some different templates, and then went back to `Periodic Notes` and messed with paths again. For s

[2021-09-07 14:49] shichongrui commented on #26
Done

[2021-09-07 14:49] #26 closed

[2021-09-07 17:01] KjellConnelly commented on #26
@shichongrui :)

[2021-09-09 09:57] pwntester commented on #13
+1 that would be an awesome addition to this plugin!

[2021-09-14 06:00] tvdjonaswanninger opened #30 "Daily todos will not rollover if format includes a dynamic folder"
Hi,

From the documentation of the periodic notes plugin i grabbed the idea to put all my daily notes in folders which represent the calendar week. In order to do this i use this format pattern for daily notes

`/[KW]ww/DD-MM-YYYY (dd)`

This produces files like this

KW39 (Folder)
 -  10-09-2021 (Fr)
 -  11-09-2021 (Sa)
 -  12-09-2021 (So)

But when I do this the rollover plugin does not seem to

[2021-09-14 12:08] KjellConnelly commented on #30
Hi Jonas,

Thanks for the question :) It's because the current set of code written in this plugin looks for a flat list of daily notes, similar to how the original daily notes plugin is. Then it uses moment.js to calculate, based on filename, what date each note is for.

After looking through the periodic notes plugin, it looks like Liam (the guy who wrote that plugin) made it look for files recur

[2021-09-17 18:09] kennyp commented on #30
Strangely this used to work for me before with Daily Notes and a dynamic path before I updated recently. :confused:

[2021-09-24 06:20] howardhhm opened #31 "Sometimes daily todos will rollover twice"
OS：Mac
I name the first rollover, normal rollover. And the second rollover, shadow rollover.

If I delete the daily note and renew another one, the bug will appear. Shadow rollover always comes after normal  rollover about a few seconds.

And I tried disabling the safe mode without disabling the plugin first, strangely the shadow rollover comes. I am sure that is the plugin operations because the

[2021-09-30 17:08] cjmabry commented on #31
Are you using Obsidian Sync per chance? I've been getting similar behavior which I think is due to opening my notes on one computer, and then looking at them on another, although it's possible this is a separate issue - I need to create some easy steps to reproduce.

[2021-10-01 01:19] howardhhm commented on #31
You are right. I have a Mac mini at home, and I work on a MacBook Pro. Obsidian Sync bases on iCloud. I tried quitting Obsidian when I leave, the issue does not reproduce any more. However it is inconvenience to users. I hope the issue can be solved.

THX.

Sent with a Spark
在 2021年10月1日 +0800 01:08，Chris Mabry ***@***.***>，写道：

[2021-10-01 01:41] cjmabry commented on #31
Whoops, I accidentally deleted my comment. Reposting here so @howardhhm's reply makes sense.

I'll see if I'm able to consistently reproduce.

[2021-10-01 01:43] cjmabry commented on #31
@howardhhm in the meantime, this workaround from the known bugs in the README might help:

[2021-10-01 03:44] howardhhm commented on #31
@cjmabry I see. There is no need to post an issue since it is a known bug. Thx~~

[2021-10-01 03:44] #31 closed

[2021-10-05 08:42] ianfhunter opened #32 "Request: Preserve Indentation"
I often split my to-dos (especially my work ones) into sub items.

e.g.
[code]

When they roll over, they are all flattened - which means i end up going back to the previous day's notes and copy-pasting instead.

Would be great if indentation was preserved

[2021-10-05 08:43] ianfhunter commented on #32
I guess you have to make a decision then if
[code]
Means you should roll over just B or nothing. I think the latter makes more sense - but may not be how others use it

[2021-10-06 08:16] huyz opened #33 "Compatibility with Kanban plugin: add TODOs to first column"
For compatibility with https://github.com/mgmeyers/obsidian-kanban , could the TODO items be added to the end of the first H2 heading block?  This would make the TODO be in the first Kanban column rather than the completed column.

Right now, this is what happens:
[code]

Ideally, this is what should result:
[code]

[2021-10-06 08:18] huyz opened #34 "Support night owls"
I always find it amusing that people assume end thee workday at midnight.  Developers should know better 😄

Would it be possible to configure the automatic rollover time to something other than midnight?  (I would set mine to 11am, actually)

Or at least, give an option to disable automatic rollover so that I can just invoke it manually every day.

Thanks!

[2021-10-19 16:48] travipross opened #35 "Duplicate Todos being rolled over when using multiple devices"
I use Obsidian on 3 different devices (Ubuntu Desktop, Ubuntu Laptop, Android Phone), and I synchronize my vault between those devices via [Syncthing](https://syncthing.net/).

Consider the laptop/desktop devices for now, just to remove Android from the equation: When I create a new daily note on my desktop, the Todos from the previous day correctly roll over. However, if I wait for the files to s

[2021-11-03 06:16] lanox opened #36 "Is this plugin still supported?"
Hi

Just wondering if this plugin is still supported ?

Thanks

[2021-11-06 20:45] josephdong1000 opened #37 "[Feature Request] Preserve heading categories when rolling over"
This is kind of a big ask, and I don't really expect this to be implemented anytime soon, but it would be really nice if to-dos could be rolled under the same heading they were under previously.

Here's one implementation that I thought of:
1. For every incompleted to-do in yesterday's note, get the heading name
2. Check today's note for a matching heading name. If found, dump the to-do under that

[2021-12-16 00:08] gentlewatcher opened #39 "Roll over command not working on android"
I know there are issues with plug-in support on android am not sure what the cause is. Seems like either obsidian doesnt want to preform some action or the plugin needs to be forked for android.

[2021-12-23 14:08] LarsKumbier opened #41 "Rollover content blocks of todos"
I usually have some additional information on open todos in content blocks below a todo, which are left dangling in the old file now, e.g.

[code]

[2022-01-02 00:20] DevJake opened #43 "Plugin doesn't seem to be working"
Hey there,

This plugin looks great! I installed it earlier and I've spent a fair while fiddling with the settings, text layouts, etc. but to no avail. I can't seem to get it to work at all... The settings are definitely correct, the naming of daily notes is correct, and even the structure of tasks is correct (I checked each for matches to the stated RegEx query, and all of the incomplete ones mat

[2022-01-05 16:51] LarsKumbier commented on #43
Hey, the project seems to be dead. I've forked it in https://github.com/LarsKumbier/obsidian-rollover-daily-todos - I've added the option rollover content blocks as well (see #41 ), if you want to check it out.

As for your bug: the code works fine for me - did you activate the "daily notes" plugin or do you use a different one?

Does the console give any output (accessible via CTRL+SHIFT+i)?

[2022-01-05 17:10] DevJake commented on #43
Hey Lars,

Yes, a dead project indeed :(

I have the Daily Notes plugin active, and I've just tried reinstalling this one, with no luck. I don't use a different plugin for daily notes.

I'll check out your repo. Hopefully you're able to keep this plugin running!!

[2022-01-05 17:36] LarsKumbier commented on #43
Did you check the settings? I'm unsure if it will work, if you do not give a headline to put the todos under, haven't tried it.
Did you get any output / errors in the developer console?

[2022-01-05 18:22] DevJake commented on #43
Yep, the settings should all be correct. My Daily Notes use the following template:

[code]

The `tasks` code block is from the [obsidian-tasks plugin](https://github.com/schemar/obsidian-tasks). I've configured the rollover to move all tasks to the `## All` header, at the bottom. Here's a screenshot of my configuration for rollover:
![Rollover Daily Todos configuration](https://user-images.github

[2022-01-05 20:02] LarsKumbier commented on #43
It's strange that you do not see *any* output in the console window - there should be at least *some* startup information... Could you install my version instead and activate the debug setting I just added? There should be some output in the console info from the plugin.

[2022-01-05 20:31] DevJake commented on #43
Apologies for the delay, had to quickly learn how to build yours. I'm now using it, and I get this message in the console:

[code]

Followed soon by `Rollover Daily Todos: styles.css not found`

With a bit more fiddling and running the aforementioned `Rollover` command, I managed to get this:
![image](https://user-images.githubusercontent.com/4295059/148284837-1340ecf5-4b6c-431e-a4d0-811d306c47d3.

[2022-01-05 20:38] DevJake commented on #43
This is the output with Debug mode enabled:
![image](https://user-images.githubusercontent.com/4295059/148285816-f41d87d0-f88d-4326-929a-50528812780c.png)

And the relevant settings for your version:
![image](https://user-images.githubusercontent.com/4295059/148285857-6dbb115b-7e34-4a11-b8a6-67774e4083e3.png)

[2022-01-06 08:54] LarsKumbier commented on #43
I'm still finding my way around the source code, might have found a missing check. Could you pull again and retry?

[2022-01-06 11:02] DevJake commented on #43
Of course. I pulled, re-built and ran the same commands with the same setup as the quoted code, but still got the same error in the console.

It's an odd error because - to me at least - it's so vague and non-descriptive. My guess would be with me using the new Live Preview editor over the legacy editor, which has caused several other plugins to either partially or completely break. I'll switch ba

[2022-01-06 13:15] LarsKumbier commented on #43
It's odd that the line numbers did not change - could double-check that you are using my fork and that you uninstalled the original plugin? You can also start adding some console.logs by yourself in the code - the basename is only used half a dozen times.

[2022-01-06 16:25] DevJake commented on #43
I deleted the entire plugin directory, then used `git clone` on your repo. `cd` into the directory, run `npm i` then `npm run build`. Refresh the plugins list in Obsidian, enable yours, configure yours as shown prior, then repeat the `Rollover` command from the command palette menu. I still receive the same error messages as before, same erroneous lines too.

I'll have a look at adding some `conso

[2022-01-22 15:36] smaroukis commented on #37
I am also looking for this feature!

[2022-01-31 19:25] bennotkin opened #45 "Also enable rollover for weekly notes"
I believe rollover only works for daily notes, whether through the core plugin or the periodic notes plugin. Would it be possible to also enable rollover for weekly or monthly notes?

[2022-02-02 10:32] gaoDean commented on #37
Yes same, i just wanted to input that I would very much like that too!

[2022-02-02 17:33] sczimmerman commented on #43
tldr; It looks like the plugin doesn't rollover todos from one month to another.

I'm experiencing the same issue with this plugin, and I noticed that your original post was created on January 1. I began using this plugin in January, and first noticed yesterday, February 1st, that my tasks were no longer rolling over. On a hunch, I tried manually copying my unchecked items from 1/31 to my 2/1 note

[2022-02-09 16:20] midnightmercenary opened #46 "Incompatibility with Outliner plugin"
My tasks from my daily note were not rolling over into the new daily note and I suspected it was due to the [Outliner plugin](https://github.com/vslinko/obsidian-outliner) installed and enabled.

I deleted the current day's daily note, disabled the Outliner plugin, recreated the Daily Note and saw that the previous day's tasks successfully rolled over.

This is on a Windows 11 PC.

[2022-02-11 18:02] phirework commented on #43
FWIW - I started having issues with it recently when I enabled the new Live Preview editor. I disabled the "delete rolled over tasks" option, and now manually run the "rollover" task when a new Daily note is created, and that works fine. It's not ideal, but it's better than copy/pasting.

[2022-04-01 02:45] ironfroggy opened #48 "Suggestion: Cross out incomplete items on rollover"
A suggestion to make the rollover of tasks more clear: an option to mark the item as complete and strike out the text to show it was not done, but is no longer valid.

[2022-05-08 13:27] rbutera commented on #41
This seems like it should be simple to implement.

[2022-06-07 12:23] elfomze commented on #45
I second this! It would be a super neat feature to have.

[2022-06-24 02:30] Zebrazilla opened #51 "[FR] Compatibility with Tasks plugin 📅 date format, change date on rollover"
I'm using this in conjunction with the [Tasks ](https://github.com/obsidian-tasks-group/obsidian-tasks) plugin. I always make sure to set a date on any task in a daily note, so that any task that hasn't been rolled over can be surfaced as overdue, but also to list upcoming tasks etc.

When rolling over tasks in a daily note that is formatted with date, the date isn't changed and as such will appea

[2022-07-01 14:02] muteboy commented on #13
See also #48 - some other options could be included for how to deal with multiple rollovers

[2022-07-28 13:37] michaelcaterisano opened #52 "Todos roll over twice"
Hi! Thanks for creating an awesome plugin. It usually works great, but lately I've noticed an issue where when I open a new daily note, todos roll over twice, i.e. create duplicates. So the previous day's list will end up looking like this on the current note:

[code]

I'm using Obsidian on three devices and wondering if maybe I'm encouraging some weird syncing problems by doing so. Any thoughts w

[2022-07-30 13:29] kumekay commented on #52
I experience the same problem, I sync my vault using Syncthing on 3 devices

[2022-07-30 23:24] MartynKeigher opened #53 "Rollover from PREVIOUS Daily note, not 'Yesterday' only."
I work Mon - Fri, and I love making Daily ToDo lists. During the week, my incomplete notes from (for e.g.) Tuesday to Wednesday roll over just fine, but any incomplete ToDo's from a Friday, will not roll over to a Monday (of the following week) as technically... Friday was not "yesterday".

Would be nice if this plugin had an option to allow you to rollover incomplete notes from the 'previous dail

[2022-08-01 20:35] sauld95 commented on #52
I found that the sync app "DriveSync" works perfect for Obsidian. If I update on the computer and later update on my mobile phone, they will merge together without any conflicts. I noticed it will actually create a copy of the markdown file if there come across any conflicts between both files. for example "Note 1 Conflict 07/30/22"

[2022-08-27 16:02] dcgk commented on #29
Hi! The functionality sounds very interesting as I spend some time doing exactly this task every morning when I create my new Daily Note.
When I first installed  the rollover plugin, I experienced the blank settings screen. I use Periodic Notes and have no spaces in the path/file names. After turning on and off the Periodic Notes Plugin several times, now the settings screen of Rollover does appea

[2022-08-29 22:33] valevasqc opened #54 "[FR] Exclude todos below a certain header"
Hi! I want to start using your plugin, I think it might be really useful.
I have one problem though. I also put my habits and trackers in my daily note, and I don't check all of them. But I don't want them to rollover into the new daily note. Thanks!

[2022-09-03 04:59] wuzhen97 opened #55 "When creating a journal for the first time, rollover occurs, but it is automatically deleted"
**describe:**

When I use the "Periodic Notes" plug-in to create a journal based on the template, rollover occurs , but it will be automatically deleted.

**shortcuts:**

https://user-images.githubusercontent.com/61906420/188256472-ef17dedf-de17-49b2-a5f5-3c194ad1946f.mp4

[2022-09-08 23:29] AndrewAshling opened #56 "Rollover doesn't occur with more complicated date-formats"
Rollover works fine when used with a simple date-format in the core plugin Daily Notes, e.g. YYYY-MM-DD

However, Daily Notes allows the user to apply more complicated formats like YYYY/MM/YYYY-MM-DD, which automatically places the daily note in a folder of the current year, and a subfolder of the current month. In this case the plugin doesn't work.

So the choice is between copying the non-finish

[2022-10-02 21:40] lumoe commented on #56
Agreed, I do have the same issue, having this option would be awesome!

I think I was able to pinpoint the problem to this comparison:

https://github.com/shichongrui/obsidian-rollover-daily-todos/blob/04204014f252cc8bf04ba66d756459dadb4ae72e/src/index.js#L121

When using this _special_ date format, the variables have the following state:
[code]

I am new to Obsidian Plugin development, but my fir

[2022-10-11 11:47] L33tCh opened #58 "Incompatibility with Obsidian Callouts"
There seems to be somewhat inconsistent behavior around when previous todos are picked up or not, but I only mention that in case it is linked...

The main concern on this issue is that when check boxes where previously in an Obsidian callout (detailed here: https://help.obsidian.md/How+to/Use+callouts) and placed inside another callout, they do not keep the leading '>' which results in a broken c

[2022-10-12 03:41] Smeagol2069 opened #59 "Settings don't appear on mobile"
I tried to change my settings, but it appears as a blank menu.

[2022-10-12 03:43] Smeagol2069 commented on #59
I updated the template and it fixed itself. Thank you for the great plugin!

[2022-10-12 03:43] #59 closed

[2022-10-19 08:49] ovo-saxon-zerbino opened #60 "Ownership Request"
@shichongrui I can see you've recently updated the README to indicate this is no longer supported, I was hoping you'd be willing to transfer ownership to myself.

I was looking to fork the repo anyway as I'd like to attempt to solve rolling todos over under subheadings & supporting directories in the file path for my own use case. While I've not owned an OS project like this before I believe I'd b

[2022-10-19 13:56] shichongrui commented on #60
@ovo-saxon-zerbino thanks for the interest. Another person has already requested ownership so I'm going to be transferring ownership to him unless he changes his mind. I'm just waiting for him to delete his fork of the repo, which prevents ownership transfer.

If that falls through, you will be next on the list.

[2022-10-19 14:07] ovo-saxon-zerbino commented on #60
Understandable, thanks for the quick reply & all the best!

[2022-10-19 15:50] lumoe commented on #60
The transfer has worked, thank you for coming up with this idea and creating this project in the first place @shichongrui!

@ovo-saxon-zerbino these are the exact features I would like to implement as well. If you are still interested in working together, code reviewing or testing out new features, let me know. :-)

[2022-10-20 08:07] ovo-saxon-zerbino commented on #60
Hey, that would be good! I've had a bit of a look around the code base but I think there's still some getting up to speed I'll need to do. When I get some time to try that out I will hopefully open a PR if you don't get there before me and we can go from there.

[2022-10-20 15:18] #60 closed

[2022-10-21 12:30] lumoe commented on #60
Sounds good! I already did some work with respect to folders in the file path and submitted a PR #57
It does solve the issue, but I still need to check if this change does have any side effects. Maybe it can give you a starting point for your investigation.

[2022-10-22 04:28] Smeagol2069 opened #62 "Maintaining of Formatting"
I'm currently working on adding a setting which when enabled will
- Get content only from the specified heading within yesterday's note - The one under the first setting
- Filter out the marked check boxes
- Paste all content underneath the header in the new daily note

I have made the filter, but need to set up the rest of the feature. I also don't know how well it will work with the other settin

[2022-10-23 20:11] lenalebt commented on #13
I really like the idea! I had a few troubles with the plugin in combination with the templater plugin, which led me to duplicate a bit of this plugins functionality with a templater user script. I made it into a gist, in case anybody else is interested: https://gist.github.com/lenalebt/8e58aa21392c388d8c7d65bad3206e35

It has a "counter" using the suggestion from @iroQuai by adding (emoji) exclama

[2022-10-23 20:15] lenalebt opened #63 "Does not work well with the templater plugin"
I had some trouble using this plugin in combination with [Templater](https://github.com/SilentVoid13/Templater). I tried using it with "trigger templater on new file creation". Templater wants to only work on empty files, and this seems to interfere with "rollover daily todos".

As a workaround, I recreated some of the functionality of "rollover daily todos" by copying a bit of code and making it

[2022-10-27 16:33] ovo-saxon-zerbino commented on #56
As that PR got lost when the repo changed hands I've re-raised it here https://github.com/lumoe/obsidian-rollover-daily-todos/pull/61

[2022-11-02 17:40] bobonthenet commented on #52
I am also having this problem and agree it is definitely a sync issue.

To reproduce:
1. Have a note from the previous day with todos that will rollover.
2. Create a new daily note and observe as todos rollover.
3. On a second device allow your notes to sync then open your daily note. Observe as todos rollover a second time.

If syncing is automatic you can also run into the issue of the duplicate

[2022-11-04 14:02] bobonthenet commented on #52
So I've been thinking about this and I think I can provide a solution. I would wrap it in a new setting to make in an option just in case for some reason someone doesn't want this behavior. I would basically just get the todos that already exist in today's note and remove them from the notes to be rolled over array, before finally applying them to today's note. I've never worked on an Obsidian plu

[2022-11-10 10:53] lumoe commented on #30
This repository has been transferred to my account and is now maintained again.

I will close this issue in favour of the newer #56.
There also exists a fix for this feature, which I would like you to invite testing out or review the changes.

[2022-11-10 10:53] #30 closed

[2022-11-10 10:58] lumoe commented on #56
Thank you for re-submitting the PR and contributing your solution to this long existing feature request @ovo-saxon-zerbino!

I have streamlined the changes into a new branch ([obsidian-rollover-daily-todos/support_directories](https://github.com/lumoe/obsidian-rollover-daily-todos/tree/support_directories)) and fixed an additional bug from #57 and added your changes. I would like to invite you for

[2022-11-10 11:06] ovo-saxon-zerbino commented on #56
I should be able to take a look tomorrow, thanks @lumoe

[2022-11-10 11:26] lumoe commented on #41
Hi @LarsKumbier, sorry for the long delay. This project was transferred to my account and is now maintained again.

This indeed looks like a very useful feature, thank you for submitting a PR! I will have a look at your PR and verify if it still works in current Obsidian versions. Are you interested in further contributing to this feature or bug fixing?

[2022-11-15 06:57] LarsKumbier commented on #41
Hey @lumoe,
thanks for taking over!
I'd be happy to contribute in the future as well. Lemme double-check if the PR is still up-to-date with my private repos.

[2022-11-15 23:52] Smeagol2069 commented on #62
I have changed the way I track my todos and no longer am seeking to change the plugin.

[2022-11-15 23:52] #62 closed

[2022-11-16 11:02] guybrusht opened #68 "[FR] Limit rollover to a specific heading"
Amazing plugin!
Just one thing that could be really helpful: I have tasks under a heading that I have specified in the settings. I would like that only the tasks under that particular heading be rolled over to the next day and not those of the whole note.

For instance, if my template looks like this:

Would it be possible to only rollover what is under the ToDo heading (e.g. Tasks 3 & 4) and noth

[2022-11-16 15:29] bchmura commented on #46
I have it working fine with outliner and daily notes... it's been a while since you posted, so maybe fixed along the way.

Obsidian 1.0.3 and 1.1.0 of rollover (on windows 10)

[2022-11-17 13:29] bchmura commented on #43
Like phirework, this only works for me when I manually invoke it.  The automatic produces no errors in the console.  On Obsidian 1.0.3 and latest plugin version (also win 10)

[2022-11-19 17:44] dmkravets opened #69 "1.1.1 release not working"
I'm on Mac and iOS. Newest update to this plugin breaks functionality

[2022-11-21 10:54] javiavid commented on #69
It doesn't work on Windows 11 either.

[2022-11-21 11:54] quetza commented on #69
The problem is the building of the paths is which 1.1.1 was supposed to fix is broken in a different way. If you want the quickest fix, edit your ".obsidian/plugins/obsidian-rollover-daily-todos/main.js" file and change line 1013 from:
   `folder == "" ? "/" : ""`
 to
  `folder == "" ? "/" : "/"`

and then restart Obsidian.

(I know this is stupid code, but it's optimized for the smallest action t

[2022-11-21 15:01] finnbru commented on #69
Fixed it - many thanks for quick email.

On Nov 21, 2022 at 3:54:20 AM, Grant ***@***.***> wrote:

[2022-11-22 00:00] tobiasvl commented on #69
Thank you! This worked for me too.

[2022-11-22 02:02] benhamilton commented on #48
I would suggest that using https://minimal.guide/Block+types/Checklists as a guide, that any tasks rolled forward, transition from:
`- [ ] task item`
to:
`- [>] task item`

If that is also suffixed with `(now in [[new daily note]])` that thats even better.
This would also mean that any tasks with status as described in the link above that are incomplete and not forwarded to a new date would be rol

[2022-11-22 11:27] KalenXI commented on #69
Unfortunately that fix didn't work for me on macOS. That resulted in `if (filePathConstructed !== file.path) return;` always returning because then filePathConstructed had an extra / in it.

The fix I found was to change line 971 from:
`const path = file.path.replace(`${folder}/`, '').replace(`.${file.extension}`, '');`
to
`const path = file.path.replace(`${folder}`, '').replace(`.${file.extension

[2022-11-22 23:02] avigilante commented on #69
On a Mac, Obsidian 1.0.3, @quetza suggestion worked for me! Thanks!

[2022-11-23 09:06] quetza commented on #69
What happens if you replace line 1013 with this?
   `folder[folder.length-1] == "/" ? "" : "/"`

It should just add the / if it's not already there.

[2022-11-23 19:41] igormoochnick commented on #69
I've had the same issue and I've tried this fix ^^^ and it worked. I didn't try any other fixes
This worked for me:
`folder[folder.length-1] == "/" ? "" : "/"`

[2022-11-28 21:22] expionage commented on #63
Thank you @lenalebt! I had trouble getting this plugin to work, and noticed I also had Templater enabled. Tried your workaround and it worked perfectly.

[2022-11-29 11:18] lenalebt commented on #63
Oh, that's interesting - I don't have that problem. I noticed that your tasks end up in a code box (three back ticks). I think that's where the non-clickable boxes come from.

If you have further questions, feel free to directly comment on the gist - then we can leave this ticket related to things about the plugin :slightly_smiling_face: . It might help if you post your templater source to the gis

[2022-11-29 23:51] lumoe commented on #69
Sorry for the inconvenience. I released a new version that should fix the problem.

Please ping me if something goes wrong!

[2022-11-30 07:21] tim-hilt commented on #69
Works for me! Didn't work with 1.1.1

[2022-11-30 07:48] tim-hilt opened #70 "Feature Request: Option to roll over todos with their children"
**Current behavior**

If I roll over something like this

[code]

only the open todo-item get's rolled over:

[code]

even worse: If `Delete todos from previous day` is enabled, the previous daily note looks like this:

[code]

which is alters the meaning of the completed todo-item.

**Suggested behavior**

It would be a sensible default (in my opinion), if the plugin only watches the root-level o

[2022-11-30 08:20] lumoe commented on #35
Hi @travipross, thank you for your report. I am also using Syncthing and I have never experienced this behaviour.
Can you confirm that this is still happening?

[2022-11-30 08:20] lumoe commented on #36
Yes! :-)

[2022-11-30 08:20] #36 closed

[2022-11-30 08:23] lumoe commented on #39
For the newest version, there are no known issues.
Can you give me insights on what exactly is not working?

[2022-11-30 08:31] lumoe commented on #70
Thank you for your FR and the detailed information you provided.
In order to avoid duplication, I will close this issue in preference of #41 and add a link to your detailed description.

[2022-11-30 08:31] #70 closed

[2022-11-30 08:32] lumoe commented on #41
Detailed description of the current behaviour and expected behaviour was provided in another FR: https://github.com/lumoe/obsidian-rollover-daily-todos/issues/70#issue-1469194060

[2022-11-30 08:47] lumoe commented on #51
Hi @Zebrazilla, thank you for your FR.
I don't think this is a good idea as it leads to strange behaviour. I use the _Tasks_ plugin as well and I e.g. use the daily note to collect ToDos that might be in the future. So if the plugin starts to manipulate the information contained in the ToDo the risk of loosing important information is too high. For that reason, we will never manipulate the content

[2022-11-30 08:47] #51 closed

[2022-11-30 08:50] lumoe commented on #55
Hi @wuzhen97, can you please give me a more detailed explanation on your issue?

[2022-11-30 08:57] lumoe commented on #58
Hi @L33tCh, thank you for feature request. I see why this is a beautiful way to structure your daily notes.
I will keep this issue open and put it on the FR list for now and see whether there is a simple solution to that.

[2022-11-30 09:02] lumoe commented on #63
Thank you for your input and contribution @lenalebt.
If more people are affected by this, please feel free to submit a PR to the README file in the Bugs/Issues section, where we can redirect people to your solution.

[2022-11-30 09:05] #56 closed

[2022-11-30 09:07] lumoe commented on #53
FWIW, this should be possible. Can you verify the behaviour @MartynKeigher?

[2022-11-30 09:10] lumoe commented on #45
Closing it in favor of #53

[2022-11-30 09:10] #45 closed

[2022-11-30 09:16] lumoe commented on #52
Hi @bobonthenet, thank you for your detailed description. I personally use Syncthing as well, but never experienced this behaviour. To be fair, I never use the device **exactly** in the same time.

In its current state, I do not think, that the plugin should solve issues that are related to sync issues.

[2022-11-30 09:16] #52 closed

[2022-11-30 09:26] #39 closed

[2022-11-30 10:45] tim-hilt commented on #70
Didn't see that one! Thanks for the info.

[2022-11-30 13:30] bobonthenet commented on #52
I still think this would be a nice option as a setting. I also see the problem where the daily note is created from a template with pre-existing todos. When the rollover happens it can create duplicate todos. That said, I guess I agree that this plugin shouldn't try to solve problems based on other plugins. I just think this new functionality might be nice to have on it's own and not as a solution

[2022-11-30 17:28] travipross commented on #35
Hi @lumoe, I submitted this over a year ago now and with a few updates since then, it appears the problem is resolved. I repeated my documented steps from back then and wasn't able to trigger the same unexpected behaviour.

Closing this issue now. Thanks for the follow-up nonetheless!

[2022-11-30 17:28] #35 closed